@use "sass:math";
@use "sass:meta";

@function calcul($num1, $num2, $type: ('m', 'o', 'dz', 'd')) {


    // ZMIENNA DOTYCZĄCA TYPU ARGUMENTÓW
    $x: meta.type-of($num1 or $num2);

    // SPRAWDZENIE CZY $X JEST RÓŻNE OD 'NUMBER', JEŚLI TAK WYŚWIETL ERROR
    @if $x != 'number' {
        @error 'Musisz podać liczby !';
    }


    @else  {

        @if $type =="m" {

            $result: ($num1 * $num2)*1px;
            @return $result;

        }

        @else if $type =="dz" {

            $result: math.div($num1, $num2)*1px;
            @return math.round($result);

        }

        @else if $type =="d" {

            $result: ($num1 + $num2)*1px;
            @return ($result);

        }

        @else if $type =="o" {

            $result: ($num1 - $num2)*1px;
            @return ($result);

        }

        @else {

            @error 'Trzeci argument jest błędny!'

        }

    }
}

p {
    font-size: calcul('5', 5, d);
}